<header id="top-header">
  <a href=""><h1 class="logo">AlrightEros</h1></a>
</header>
<nav id="left-nav"></nav>
<main id="main-view">
  <header id="content-header"></header>
  <section id="content-body"></section>
</main>
<script>
$(document).ready(function(){
  <% x = current_user.id if current_user %>
  AlrightEros.initialize(<%= x %>);

});
</script>
