<% if (!inboxView){ %>
	<form class="new-message">
		<label
			for="new-message-textarea"
			class="textarea-label new-message-text-area-label">
			Send a message:
		</label>
		<fieldset class="new-message-textarea-wrapper">
			<textarea
				class="textarea new-message-textarea"
				id="new-message-text-area"
				name="message[body]"></textarea>
		</fieldset>
	</form>
<% } else { %>
	<h1>All Conversations</h1>
<% } %>

<ul>
	<% messages.forEach(function(message){ %>
	<% var messageType = message.get('is_sender') ? 'sent' : 'received' %>
		<% if (inboxView){ %>
			<a href="#/profiles/<%= message.escape('other_user') %>/messages">
		<% } %>
			<li
				class="message <%= messageType %>">
					<h3 class="sender"><%= inboxView ? message.escape("other_user_username") : message.escape("sender_username") %></h3>
					<p><%= message.escape("body") %></p>
			</li>
		<% if (inboxView){ %>
			</a>
		<% } %>
	<% }) %>
</ul>
