<% if (AlrightEros.currentUser.isSignedIn()){ %>
  Hello, <%= AlrightEros.currentUser.escape("username") %>!
    <button id="sign-out-link">Log Out</button>
<% } else { %>
  <a href="/session/new">Log In</a>
  <a href="/users/new">Sign Up</a>
<% } %>
