<ul>
  <% if (AlrightEros.currentUser.isSignedIn()){ %>
    <li>Hello, <%= AlrightEros.currentUser.escape("username") %>!</li>
    <li id="sign-out-link"><button>Log Out</button></li>
  <% } else { %>
    <li><a href="#/login">Log In</a></li>
    <li><a href="#/signup">Sign Up</a></li>
  <% } %>
</ul>
