<h1 class="logo">AlrightEros</h1>
<h1 class="welcome-message">Welcome back!</h1>

<form class="login">
<h1>Log In</h1>

  <label for="user-email">Email</label>
  <input type="text" name="user[email]" id="user-email">

  <label for="user-password">Password</label>
  <input type="password" name="user[password]" id="user-password">

  <button class="submit">Log In</button>
</form>
