<h1>Sign In</h1>
<form class="login">

  <label for="user-email">Email</label>
  <input type="text" name="user[email]" id="user-email">

  <label for="user-password">Password</label>
  <input type="password" name="user[password]" id="user-password">

  <button>Sign In</button>
</form>
