<h1 class="logo">AlrightEros</h1>
<h1 class="welcome-message">A dating app clone</h1>

<form class="signup">
<h1>Sign Up</h1>

  <fieldset class="text-input group">
    <label for="user-email">Email</label>
    <input type="text" name="user[email]" id="user-email">
  </fieldset>

  <fieldset class="text-input group">
    <label for="user-password">Password</label>
    <input type="password" name="user[password]" id="user-password">
  </fieldset>

  <button class="submit">Sign Up</button>
</form>
