<h1 class="logo">ok<b>eris</b></h1>
<h1 class="welcome-message">Welcome back!</h1>

<form class="login group">
<h1>Log In</h1>

  <fieldset class="form-fieldset text-input-fieldset group">
    <label for="user-email">Email</label>
    <input
      class="text-input"
      type="text"
      name="user[email]"
      id="user-email">
  </fieldset>

  <fieldset class="form-fieldset text-input-fieldset group">
    <label for="user-password">Password</label>
    <input
      class="text-input"
      type="password"
      name="user[password]"
      id="user-password">
  </fieldset>

  <button class="submit">Log In</button>
</form>
