<form class="login" action="<%= @url %>" method="post">
  <%= authentic_form %>
  <label for="user-email">Email</label>
  <input type="text" name="user[email]" id="user-email">
  <label for="user-password">Password</label>
  <input type="password" name="user[password]" id="user-password">
  <button><%= @button_name %></button>
</form>
