<h1>Wow, you're thorough!</h1>
<p class="all-answered"> It looks like you've answered all our questions!</p>
<a href="#/questions/new" class="submit">Add a question</a>
<a href="#" class="submit">View profiles</a>
