<h1>Write a question</h1>

<label for="question-question-body">Question body</label>
<input type="text" name="question[question_body]" id="question-question-body">

<label for="answer-answer-text">Answer 1</label>
<input type="text" name="question[answers][1][answer_text]" id="answer-answer-text">

<label for="answer-answer-text">Answer 2</label>
<input type="text" name="question[answers][2][answer_text]" id="answer-answer-text">

<button>Submit</button>
