/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*reset*/

html, body, p, h1, h2, h3, a, form, input, button, ul {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  border: none;

  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: "Verdana", sans-serif;
  background: #049;
  color: darkblue;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 150%;
  color: purple;
  outline: 1px solid purple;
}

h3 {
  font-size: 125%;
  color: blue;
  outline: 1px solid blue;
}

p {
  font-size: 100%;
  color: black;
  outline: 1px solid black;
}

/*    MAIN    */

#main-view {
  width: 900px;
  padding: 50px;
  margin: 0 auto;
}

/*    HEADER    */

#top-header {
  height: 30px;
  background: #aaa;
  border-bottom: 2px solid #008;
  padding: 2px;
  padding-top: 4px;
}

#top-header li {
  display: block;
  float: left;
  padding: 3px;
  margin-right: 10px;
}

#sign-out-link {
  display: block;
  float: left;
  border-radius: 2px;
  box-shadow: 0 0 3px darkblue;
}

/*    FORM    */

form {
  font-size: 24px;
  background: #15a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 7px darkblue;
}

form > h1 {
  font-size: 48px;
  margin-bottom: 70px;
}

h1.logo {
  display: block;
  text-align: center;
}

.welcome-message {
  display: block;
  text-align: center;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  cursor: pointer;
  padding: 3px;
  box-shadow:  0 0 7px lightblue;
  width: 120px;

  border-radius: 2px;
}

input {
  font-size: 20px;
  border-radius: 2px;
  background: #ADD8E6;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 250px;
  box-shadow: 0 0 7px darkblue;
  padding: 0px;
}

label {
}

/*    LOGOUT    */
h1.logout {
  font-size: 48px;
  display: block;
  margin-top: 200px;
  text-align: center;
}

/*    PROFILE    */
.profiles-list > .profile-snapshot {
  display: block;
  border: 1px solid darkblue;
  margin: 5px;
  width: 200px;
}

.profiles-list h1 {
  font-size: 16px;
}
