/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*reset*/

html, body, p, h1, h2, h3, a, form, input, button {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: inherit;
  border: none;

  background: transparent;
}

body {
  font-family: sans-serif;
  background: lightpink;
}

button {
  border: 1px solid purple;
  background-color: lightgreen;
  color: purple;
  cursor: pointer;
}

input {
  border: 1px dotted green;
  background: yellow;
}

h1 {
  font-size: 200%;
  color: red;
  outline: 1px solid red;
}

h2 {
  font-size: 150%;
  color: purple;
  outline: 1px solid purple;
}

h3 {
  font-size: 125%;
  color: blue;
  outline: 1px solid blue;
}

p {
  font-size: 100%;
  color: black;
  outline: 1px solid black;
}

form {
  outline: 1px solid darkblue;
  color: darkblue;
}
