
/*    FORM    */
.textarea-fieldset,
.text-input-fieldset {
  margin: 0 auto;
  width: 500px;
  display: block;
  padding: 20px;
}

.radio-input-label {
  display: block;
  border-radius: 3px;
  background: lightblue;
  cursor: pointer;
}

.question-body {
  font-size: 24px;
  display: block;
  padding-bottom: 20px;
}

.form-fieldset {
  display: block;
  text-align: right;
  padding: 5px 0;
  margin: 10px 0;
}

.radio-input {
  display: none;
}

.radio-input:checked + .radio-input-label {
  background: pink;
}

.radio-input-label {
  text-align: center;
  margin: 10px 100px;
  padding-left: 10px;
  padding-right: 10px;
}

fieldset > input {
  display: block;
  float: right;
}

fieldset > label {
  padding-right: 20px;
}

form {
  font-size: 24px;
  background: #15a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 7px darkblue;
}

form > h1 {
  font-size: 48px;
  margin-bottom: 50px;
}

h1.logo {
  display: block;
  text-align: center;
}

.welcome-message {
  display: block;
  text-align: center;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  cursor: pointer;
  padding: 3px;
  box-shadow:  0 0 7px lightblue;
  width: 120px;

  border: 1px solid lightblue;
  border-radius: 2px;
}

.textarea,
.text-input {
  font-size: 20px;
  border-radius: 2px;
  background: #ADD8E6;
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
  box-shadow: 0 0 7px darkblue;
  padding: 0px;
}

.text-input {
  height: 30px;
}

.textarea {
  height: 100px;
}

.textarea-label {
  display: block;
  float: none;
  margin-bottom: 5px;
}


label {
}
