
/*    FORM    */
.textarea-fieldset,
.text-input-fieldset {
  margin: 0 auto;
  width: 500px;
  display: block;
  padding: 20px;
}

.radio-input-label {
  display: block;
  border-radius: 3px;
  background: lightblue;
  cursor: pointer;
}

.radio-input-label:hover {
  background: #EEF;
}

button {
  color: darkblue;
}

button:hover {
  background: #EEF;
}

#sign-out-link:hover {
  background: #EEF;
}

.nav-list > li:hover {
  background: lightblue;
  box-shadow: 0 0 50px lightblue;
}

.button:hover {
  background: #EEF;
}

.question-body {
  font-size: 24px;
  display: block;
  padding-bottom: 10px;
}

.form-fieldset {
  display: block;
  text-align: right;
  padding: 5px 0;
  margin: 10px 0;
}

.radio-input {
  display: none;
}

.radio-input:checked + .radio-input-label {
  background: pink;
}

.radio-input-label {
  text-align: center;
  margin: 10px 100px;
  padding-left: 10px;
  padding-right: 10px;
  color: darkblue;
}

fieldset > input {
  display: block;
  float: right;
}

fieldset > label {
  padding-right: 20px;
}

form {
  font-size: 24px;
  background: #15a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 7px darkblue;
}

form > h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

h1.logo {
  font-weight: bold;
  font-style: italic;
  display: block;
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
  color: #15a;
  background: white;
  border-radius: 10px;
  width: 120px;
  margin: 10px auto;
}

.logo > b {
  color: lightblue;
}

.welcome-message {
  color: #fff;
  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  cursor: pointer;
  padding: 3px;
  box-shadow:  0 0 7px lightblue;
  width: 120px;
  color: white;

  border: 1px solid lightblue;
  border-radius: 2px;
}

.submit:hover {
  color: darkblue;
}

.textarea,
.text-input {
  font-size: 20px;
  border-radius: 2px;
  background: #ADD8E6;
  margin-left: 10px;
  margin-right: 10px;
  width: 245px;
  box-shadow: 0 0 7px darkblue;
  padding: 0px;
  padding-left: 5px;
  font-weight: 300;
  color: darkblue;
}

.text-input {
  height: 30px;
}

.textarea {
  height: 100px;
  resize: none;
}

.textarea-label {
  display: block;
  float: left;
  margin-left: 60px;
}

.demo {
  background-color: #f44;
  width: 200px;
  float: right;
}

.two-buttons {
  margin-left: 60px;
  margin-right: 60px;
  float: left;
}

.select {

}
