/* PROFILE INDEX */
.profiles-index {
  margin: 0 auto;
  display: block;
  width: 530px;
  text-align: center;
}

/*    PROFILE SNAPSHOT    */
.profile-snapshot {
  display: block;
  float: left;
  border: 1px solid darkblue;
  margin: 5px;
  width: 500px;
  border-radius: 5px;
  background: #15a;
  overflow: hidden;
  text-align: center;
  padding: 0;
}

.profile-snapshot > a {
  padding: 10px;
  display: block;
  /* width: 100%; */
  /* height: 100%; */
}

.profile-snapshot > a:hover{
  background: lightblue;
}

.snapshot-profile-attributes {
  text-align: right;
  display: block;
}

.profiles-list h2 {
  font-weight: bold;
  font-size: 24px;
  display: block;
  float: left;
  width: 300px;
  margin-left: 10px;
}

.snapshot-thumb {
  display: block;
  margin: auto 0;
  float: left;
  width: 120px;
  height: 120px;
  border: 1px solid darkblue;
  overflow: hidden;
  border-radius: 50%;
}

.snapshot-thumb > img {
  display: block;
  width: 100%;
  height: auto;
}

.snapshot-thumb > .wide {
  display: block;
  width: auto;
  height: 100%;
}

/*   PROFILE SHOW   */
.profile-attributes {
  display: block;
  float: left;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  background: #15A;
  width: 400px;
}

.profile-picture {
  display: block;
  float: top;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid darkblue;
  overflow: hidden;
}

.profile-picture-container {
  float: left;
  padding: 5px;
}

.essay > h3 {
  margin-bottom: 5px;
  margin-left: 10px;
}

.essay {
  display: block;
  border-radius: 5px;
  background: #15A;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.profile-picture > img {
  display: block;
  width: 100%;
  height: auto;
}

.answer-summary {
  background: #15A;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.answer-button {
  cursor: pointer;
  border-radius: 2px;
  background: lightblue;
}

.edit-profile {
  float: left;
}

.profile-nav {
  display: block;
  clear: both;
}

.button-list {
  display: block;
}

.nav-li {
  display: block;
  float: left;
}

.essays > h3 {
  color: lightblue;
}

.essays > p {
  padding: 5px;
  border-radius: 5px;
  background: #15A;
}

.page-button {
  float: left;
}

.page-button.next {
  float: right;
}

.page-buttons {
  width: 500px;
  margin: 0 auto;
}
