<h1>All users</h1>
<nav class="page-buttons group">
  <% if (moreBefore) { %>
    <button class='button page-button previous'>Prev Page</button>
  <% } %>
  <% if (moreAfter) { %>
    <button class='button page-button next'>Next Page</button>
  <% } %>
</nav>
<ul class="profiles-list">
</ul>
<nav class="page-buttons group">
  <% if (moreBefore) { %>
    <button class='button page-button previous'>Prev Page</button>
  <% } %>
  <% if (moreAfter) { %>
    <button class='button page-button next'>Next Page</button>
  <% } %>
</nav>
