<h1>All users</h1>
<ul>
  <% profiles.each(function(profile){ %>
    <li>
      <a href="#/profiles/<%= profile.escape("id") %>">
        <%= profile.escape("username") %>
      </a>
    </li>
  <% }) %>
</ul>
