<header class="group profile-header">
<figure class="profile-picture">
  <img src="<%= profile.escape("picture_url") %>" alt="" />
</figure>
<h1 class="username"><%= profile.escape("username") %></h1>
<ul class="profile-attributes">
  <li>Supervillain</li>
  <li><%= profile.escape("age") %></li>
  <li>Evil</li>
</ul>
<% if (profile.id == AlrightEros.currentUser.escape('profile_id')){ %>
  <a href="#/profiles/edit" class="button edit-profile">Edit your profile</a>
<% } %>
</header>
