<a href="#/profiles/<%= profile.escape('id') %>" class="group">
  <figure class="snapshot-thumb">
    <img src="<%= profile.escape('picture_url') %>">
  </figure>
  <h2 class="username">
    <%= profile.escape("username") %>
  </h2>
  <ul>
    <li>Supervillain</li>
    <li>
      <%= profile.escape("age") %>
    </li>
    <li>Evil</li>
  </ul>
</a>
