<h1>Search Profiles</h2>

<fieldset class="form-fieldset select-fieldset group">
  <label
    class="select-label"
    for="profile-motivation">Motivation</label>
  <select name="motivation_id" id="profile-motivation" class="select">
    <option></option>
    <% if(motivations){ %>
      <% motivations.forEach(function(motivation){ %>
        <option value="<%= motivation.id %>">
          <%= motivation.body %>
        </option>
      <% }) %>
    <% } %>
  </select>
</fieldset>

<fieldset class="form-fieldset text-input-fieldset">
  <label for="profile-min-age">Minimum Age</label>
  <input type="text" name="min_age" class="text-input">
</fieldset>

<fieldset class="form-fieldset text-input-fieldset">
  <label for="profile-min-age">Maximum Age</label>
  <input type="text" name="max_age" class="text-input">
</fieldset>

<button name="search" class="submit">Search</button>
