<% if current_user %>
  Hello, <%= current_user.email %>!
  <form class="logout" action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>
<% else %>
  <a href="/session/new">Log In</a>
  <a href="/users/new">Sign Up</a>
<% end %>
